<!DOCTYPE html>

<html lang="he" charset="utf-8" ng-app="crm">
<meta http-equiv="Content-Type" content="text/html; charset="utf-8" />

<head>
    <meta charset="utf-8">
	
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CRM Pro</title>
	
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet">
	
	<!--  Styles for complex navbar -->
	<link href="css/styles.css" rel="stylesheet">

	<!-- Fonts for registration-form template (פתיחת תקלה) -->
	<link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css" />
	
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-controller="crmCtrl" charset="utf-8" lang="he">
<!-- <body ng-app="crm" charset="utf-8" lang="he">  ???????? -->

	<!--   complex navbar     -->
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" rel="home" href="#">Hello, username</a>
		</div>
	
		<div class="collapse navbar-collapse">
			
			<ul class="nav navbar-nav">
				<li><a href="#">Logoff</a></li>
				<li><a href="#">Switch User</a></li>
				<li><a href="#">תקלות פתוחות: 12</a></li>
				<li><a href="#">תקלות סגורות: 3</a></li>
				<li id="myDrop" class="dropdown">
				  <a href="#" class="dropdown-toggle" data-toggle="dropdown">הגדרות<b class="caret"></b></a>
				  <ul class="dropdown-menu">
					<li><a href="#">Action</a></li>
					<li><a href="#">Another action</a></li>
					<li class="divider"></li>
					<li><a href="#">Separated link</a></li>
					<li class="divider"></li>
					<li><a href="#">One more separated link</a></li>
				  </ul>
				</li>
			</ul>
			
			<!--<button type="button" class="btn btn-default navbar-btn">רענון תקלות</button>-->
			<a href="#menu-toggle" class="btn btn-default pull-right navbar-btn" id="menu-toggle">פתח\סגור תפריט</a>
			<!--<div class="col-sm-3 col-md-3 <!--pull-right-">
				<div class="navbar-text">חיפוש</div>
				<form class="navbar-form" role="search">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="הקלד כאן את מילות החיפוש" name="srch-term" id="srch-term">
						<div class="input-group-btn">
							<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
						</div>
					</div>
				</form>
			</div>-->
		</div>
	</div>   <!-- end of navbar class-->

	
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper" dir="rtl">
            <ul class="sidebar-nav">
				<!-- 
                <li class="sidebar-brand">
                    <a href="#"> Start Bootstrap </a>
                </li>
				-->
				<!-- current_page_item will be set to true / false -->
				<li ng-class="{current_page_item : isSelected('homepage')}" ng-click="selectTab('homepage')">
                    <a href="#">דף הבית</a>
                </li>
                <li ng-class="{current_page_item : isSelected('newcase')}" ng-click="selectTab('newcase')">
                    <a ui-sref="newcase">פתיחת תקלה</a>
                </li>
                <li ng-class="{current_page_item : isSelected('casedetails')}" ng-click="selectTab('casedetails')">
                    <a ui-sref="casedetails({id:-1})">פרטי תקלה</a>
                </li>
                <li ng-class="{current_page_item : isSelected('opencases')}" ng-click="selectTab('opencases')">
                    <a ui-sref="opencases">תקלות פתוחות</a>
                </li>
                <li ng-class="{current_page_item : isSelected('caseshistory')}" ng-click="selectTab('caseshistory')">
                    <a ui-sref="caseshistory">היסטורית תקלות</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
		
		<!-- Page Content -->
        
		
			
			<div class="container" ui-view style="float:right" lang="he" charset="utf-8" dir="rtl">
			
				
			
			</div>
			
		
        <!-- /#page-content-wrapper -->
 
    </div>
    <!-- /#wrapper -->

    <!-- jQuery Version 1.11.0 
    <script src="js/jquery-1.11.0.js"></script> -->
	
	<!-- jQuery Version 1.10.2 for registration form 
	<script type="text/javascript" src="js/jquery-1.10.2.min.js"></script> -->

	<!-- complex navbar scripts -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script> 
	
	<!-- Bootstrap Core JavaScript -->
	<script src="js/bootstrap.min.js"></script>
	
	<script src="js/angular.min.js"></script>
	<script src="js/angular-ui-router.min.js"></script>
	<script src="js/angular/app.js"></script>
	<script src="js/angular/services/ajaxSrv.js"></script>
	<script src="js/angular/controller/newcaseCtrl.js"></script>
	<script src="js/angular/controller/crmCtrl.js"></script>
	<script src="js/angular/controller/opencasesCtrl.js"></script>
	<script src="js/angular/controller/casedetailsCtrl.js"></script>
	
    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
	<!--
	<script>
		  $('.selectpicker').selectpicker();
	</script>
	<!--
	<script>
		$(myDrop).dropdown(false);
	</script>
	-->
</body>

</html>

