		<div id="MainPage" charset="utf-8" lang="he">
		
			<meta charset="utf-8">

			<div class="page-header">
				<h1><small>פרטים אישיים :</small></h1>
				
			</div>
			
			
			
			<div class="container" charset="utf-8" lang="he">
				<div class="row">
					
					<div class="col-lg-6">
						<div class="col-md-12">
							<div class="alert alert-success" ng-show="case_opened == 'true'">
								<strong><span class="glyphicon glyphicon-ok"></span>&#160;&#160;&#160;נפתחה תקלה. מס' 39812</strong>
							</div>
							<div class="alert alert-danger" ng-show="case_error == 'true'">
								<span class="glyphicon glyphicon-remove"></span><strong>&#160;&#160;&#160;שגיאה. הזן שוב נתונים.</strong>
							</div>
						</div>
					</div>
				
					<form role="form">
						<div class="col-lg-6">
							<div class="well well-sm"><strong><span class="glyphicon glyphicon-asterisk"></span>שדות חובה</strong></div>
							<div class="form-group">
								<label for="InputName">שם משתמש:</label>
								{{formData.username}}
								<div class="input-group">
									<span class="input-group-addon fa-rotate-180"><span class="glyphicon glyphicon-asterisk"></span></span>
									<input type="text" class="form-control" name="InputName" id="InputName" placeholder="Enter Name" ng-model="formData.username" required>
								</div>
							</div>
							<br><br>
							<!-- שאלות ותשובות -->
							
							
							<ul>
								<li>
									<h4>איזור</h4>
									<select class="selectpicker form-control" ng-model="formData.area">
										<option>מרכז</option>
										<option>דרום</option>
										<option>צפון</option>
									</select>
								</li>
							
								<li>
									<h4>סוג תקלה</h4>
									<select class="selectpicker form-control" ng-change="change()" ng-model="formData.problemType" ng-options="pr.problem as pr.problem for pr in problems">
										<option value="">select</option>
										<!--<option ng-repeat="pr in problems">{{pr.problem}}</option>-->
									</select>
								</li>
							</ul>
							
							<br><br><br>
							
							<div class="form-group">
								<label for="InputMessage">תיאור התקלה:</label>
								<div class="input-group">
									<span class="input-group-addon fa-rotate-180"><span class="glyphicon glyphicon-asterisk"></span></span>
									<textarea name="InputMessage" id="InputMessage" class="form-control" rows="5" ng-model="formData.caseDescription" required></textarea>
								</div>
							</div>
							<input type="submit" name="submit" id="submit" value="Submit" class="btn btn-info pull-right" ng-click="clickedSubmit()">
						</div>
					</form>
					
				</div>
			</div>
			<!-- Registration form - END -->
		</div>